@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

@import "./mixin/*";

#jumbotron-ext {
  @include default();
  background-image: image-url("3693058077_38c5b8f0a9_o.jpg");
  background-size: 100% 100%;
  background-color: rgba(0,0,0,0.6);

  @media (min-width: 992px ) {
    height: 500px;
  }
  @media (max-width: 767px) {
    height: 515px;
    padding: 30px 0;
  }
}

.top-contents-wrapper {
  background-color: #fafafa;
  padding-top: 50px;
}

#search-ext {
  background-color: rgba(256,256,256,0.7);
}

#btn-ext {
  background-color: rgba(256,256,256,0.9);
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  // margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
  color: #FFFFFF;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.scroll-x {
  overflow-x: scroll;
}

.thumbnail-ext {
  border: none;
  background-color: #f1f1f1;

  img {
    height: 200px !important;
    width: 300px;
  }
}
.caption-ext {
  @media (max-width: 354px ) {
    width: auto;
  }
  margin: 0 auto;
  padding: 0 !important;
  &__title {
    height: 38px;
  }
  &__contributor {
    -webkit-font-smoothing: antialiased;
  }
}

.description-ext {
  height: 100px;
  overflow: scroll;
  border-top: solid 2px #999;
  padding-top: 10px;
  -webkit-font-smoothing: antialiased;
}

.my-container {
  margin: 0 20px;
}
.list-name {
  margin-top: 0;
}

@media (min-width: 768px) {
  #margin-l-media {
    margin-left: 7px;
  }
}

#message {
  background-image: image-url("enjin~4.jpeg");
  background-size: 100% 100%;
  height: 400px;
  @media (max-width: 767px) {
    height: 300px;
    padding-left: 0;
  }
  /*opacity: 0.9;*/
}

#message-text {
  color: white;
  font-size: 1.7em;
  @media (min-width: 768px) {
    font-size: 3em;
  }
}

#head-message {
  color: white;
  font-size: 2em;
  @media (min-width: 992px) {
    font-size: 3.5em;
  }
}
#head-caption {
  color: white;
  margin: 0px 0px 48px;
  font-size: 1.2em;
}

.head-form {
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: none;
  -webkit-font-smoothing: antialiased;
}
