<!--  navbar  reference.. http://9-bb.com/tag/bootstrap%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%A6web%E3%82%B5%E3%82%A4%E3%83%88%E3%82%92%E4%BD%9C%E3%81%A3%E3%81%A6%E3%81%BF%E3%82%88%E3%81%86%E3%81%9C/ -->


<nav class="navbar navbar-inverse navbar-fixed-top" id="nav-ext">
  <div class="navbar-header">
    <!--ブランド名 ロゴ名の表示-->
    <%= link_to 'footballers', users_path, class: "navbar-brand" %>

    <!--トグルボタンの設置-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li><%= link_to 'ポイント', new_point_path, data: { no_turbolink: true } %></li>
        <li><%= link_to 'ユーザー設定', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
