<div class="panel panel-body bgc-default">
  <%= form_tag(action: :pay, method: :post) do %>
    <script src="https://checkout.webpay.jp/v3/" class="webpay-button" data-key="test_public_6aC0rngNvb6S9lgdVM9ml29I" data-lang="ja"></script>
  <% end %>
</div>
