<div class="container">
  <div class="panel">
    <div class="panel-body">
      <h3 class="list-name">人気の動画</h3>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail thumbnail-ext">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnEVDM88HQWcGVaFxofpmzDSA14uWOpu4vFgSv7ppJbNB1tlKUdg" alt="...">
            <div class="caption caption-ext">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail thumbnail-ext">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnEVDM88HQWcGVaFxofpmzDSA14uWOpu4vFgSv7ppJbNB1tlKUdg" alt="...">
            <div class="caption caption-ext">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail thumbnail-ext">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnEVDM88HQWcGVaFxofpmzDSA14uWOpu4vFgSv7ppJbNB1tlKUdg" alt="...">
            <div class="caption caption-ext">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
