<nav class="navbar navbar-inverse navbar-fixed-top" id="nav-ext">
  <div class="navbar-header width-100">
    <!--ブランド名 ロゴ名の表示-->
    <a class="navbar-brand" href="#">footballers</a>
    <button id="nav-unsigned" data-toggle="modal" data-target="#login-dp">
      <b>ログイン</b><span class="caret"></span>
    </button>
  </div>
</nav>
