<nav class="navbar navbar-inverse navbar-fixed-top" id="nav-ext">
  <div class="navbar-header width-100">
    <!--ブランド名 ロゴ名の表示-->
    <%= link_to 'footballers', users_path, class: "navbar-brand" %>
    <button id="nav-unsigned" data-toggle="modal" data-target="#login-dp">
      <b>ログイン</b><span class="caret"></span>
    </button>
  </div>
</nav>
