%nav#nav-ext.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header.width-100
    / ブランド名 ロゴ名の表示
    = link_to 'footballers', users_path, class: "navbar-brand"
    %button#nav-unsigned{"data-target" => "#login-dp", "data-toggle" => "modal"}
      %b ログイン
      %span.caret
